<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}
<!-- TODO: remove!  -->
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
<!-- TODO: remove!  -->
  <body>
  	<div class="container">
	  	{% include header.html %}
	    {{ content }}
	    {% include footer.html %}
	    {% include scripts.html %}
  	</div>
  </body>


</html>
